.demo-docs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  h2,
  h3 {
    width: 100%;
    margin: 0;
  }

  &--row {
    flex-wrap: wrap;
    flex-direction: row;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(var(--demo-columns, 6), 1fr);

    h3 {
      grid-column: 1 / -1;
    }
  }

  &--with-disabled .toggle-disabled {
    grid-column: 1 / -1;
  }
}
