.button-showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.button-showcase > *,
.button-showcase > .button-group > * {
  margin: 0 !important;
}
.button-showcase .button-group {
  grid-column: 1 / -1;
  justify-content: center;
  --button-font-size: 1rem;
}

.input-showcase * {
  margin-top: 0 !important;
}
.input-showcase > :first-child {
  margin-bottom: 0.75rem;
}
.input-showcase > :first-child .input__inner {
  font-size: 1rem;
}
[data-theme="dark"] .input-showcase {
  --input-text: #ddd;
  --input-border-color-hover: #ddd;
  --label-text: #ddd;
  --checkbox-color: #ddd;
}
[data-theme="dark"] .input-showcase .input:not(:focus-within) svg {
  color: #ddd;
}
