.button-showcase {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.button-showcase > *,
.button-showcase > .button-group > * {
  margin: 0 !important;
}

[data-theme="dark"] .input-showcase {
  --input-text: #ddd;
}
[data-theme="dark"] .input-showcase .input:not(:focus-within) svg {
  color: #ddd;
}
