#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.icon-container {
  --icon-color: blue;
}

.my-container-with-custom-color {
  --icon-color-error: salmon;
  --icon-color-disabled: gray;
}
