#root {
  display: grid;
  gap: 16px;

  max-width: 1280px;
  padding: 1rem;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;
  margin-block: 1rem;
}

.input-wrapper.focused {
  outline-color: var(--input-border-color);
}
.textarea.focused {
  outline-color: var(--textarea-border-color);
}

.label.focused:not(.label--error) {
  --label-text: var(--primary);
  --input-border-color: var(--primary);
  --textarea-border-color: var(--primary);
  --helper-text-color: var(--primary);
}

.my-checkbox-label {
  --label-font-size: 1.25rem;
  --checkbox-color: var(--primary);
}

.my-checkbox {
  --checkbox-bg-hover: lightblue;
}

.package-demo.demo-docs {
  grid-template-columns: unset;
  gap: 8px;
  justify-content: center;
}
.package-demo .input {
  margin-bottom: 8px;
}

.input-sizes {
  width: 100%;
}

.checkbox-default .label--checkbox {
  margin-inline: auto;
}

.checkbox-default :nth-child(4),
.checkbox-default :nth-child(5) {
  grid-column: 1 / 3;
}
