#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;
  margin-block: 1rem;
}

.input--focused {
  outline: 1px solid var(--input-border-color);
}

.input-label--focused:not(.input-label--error) {
  --label-text: #2962ff;
  --input-border-color: #2962ff ;
  --input-helper-text: #2962ff;
}
