.package-demo {
  margin-inline: auto;
}
.package-demo.demo-docs {
  grid-template-columns: unset;
  gap: 8px;
}
.package-demo .input {
  margin-bottom: 8px;
}

.input-sizes {
  width: 100%;
}

.input--focused.input--focused {
  --_focus: var(--input-border-color-focus);
}
.textarea--focused.textarea--focused {
  --_focus: var(--textarea-border-color-focus);
}
.input--focused.input--focused,
.textarea--focused.textarea--focused {
  border-color: var(--_focus);
  outline-color: var(--_focus);
}

.label--focused.label--focused {
  color: var(--label-text-focus);
}

.checkbox-default .label,
.checkbox-disabled .label {
  margin-inline: auto;
}
.checkbox-default :nth-last-child(-n + 2),
.checkbox-disabled :nth-last-child(-n + 2) {
  grid-column: 1 / -1;
}

[data-theme="dark"] {
  --text: #ddd;
  --text-focus: #769aff;
  --text-disabled: rgba(255, 255, 255, 0.3);

  --secondary: #648391;

  /* Custom colors */
  --label-text: var(--text);
  --label-text-hover: var(--text);
  --label-text-focus: var(--text-focus);
  --label-text-disabled: var(--text-disabled);

  --placeholder-disabled: var(--text-disabled);

  --checkbox-color: var(--text);
  --checkbox-color-disabled: var(--text-disabled);

  --radio-color: var(--text);
  --radio-color-disabled: var(--text-disabled);

  --input-text: var(--text);
  --input-border-color-hover: var(--text);
  --input-border-color-focus: var(--text-focus);
  --input-border-color-disabled: var(--text-disabled);

  --textarea-text: var(--text);
  --textarea-border-color-hover: var(--text);
  --textarea-border-color-focus: var(--text-focus);
  --textarea-border-color-disabled: var(--text-disabled);
}
