:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary: #2962ff;
}

[data-theme="light"] {
  --color-bg: #fff;
  --color-text: #000;
}

[data-theme="dark"] {
  --color-bg: #242424;
  --color-text: #fff;

  /* Custom colors */
  --label-text: #ddd;
  --label-text-hover: #fff;
  --label-text-focus: #769aff;
  --placeholder-color: #fff;
  --input-text: #fff;
  --input-bg-disabled: transparent;
  --input-border-color-hover: #fff;
  --input-border-color-disabled: rgba(255, 255, 255, 0.3);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--color-bg);
  color: var(--color-text);
}

button {
  display: block;
  position: relative;

  inset: 0;
  margin-block: 2rem;
  margin-inline: auto;
  padding: 8px;
}

h2,
h3 {
  text-align: center;
}
