#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Example for overide default colors */
.theme-button {
  --button-bg-hover: transparent;
  --button-bg-active: #e6e6e6;
}

body[data-theme="dark"] .theme-button {
  --button-bg-hover: #3f3f3f;
  --button-bg-active: #595959;
}

.dark-icon {
  color: skyblue;
}
