@import "@hrc/button/src/demos.css";

.demo .button-default :last-child {
  grid-row: 2 / 2;
}

[data-theme="dark"] .button-default {
  --button-outline-color: var(--sl-color-gray-1);
  --button-outline-bg-hover: var(--sl-color-gray-5);
}
