@import "@hrc/button/src/demos.css";

.demo .with-last-centered :last-child {
  grid-column: 1 / -1;
  margin-inline: auto;
}
.demo .responsive-group {
  --demo-columns: 2;
}
@media (max-width: 767px) {
  .demo .responsive-group{
    --demo-columns: 1;
  }
  .demo .button-icon-colors {
    --demo-columns: 3;
  }
}

@media (max-width: 879px) {
  .demo .button-group-column {
    --demo-columns: 1;
  }
}

[data-theme="dark"] {
  --button-outline-color: var(--sl-color-gray-1);
  --button-outline-bg-hover: var(--sl-color-gray-5);
}
