@import "@hrc/button/src/demos.css";

.button-group-disabled > astro-island {
  gap: inherit;
}

[data-theme="dark"] {
  --button-outline-color: var(--sl-color-gray-1);
  --button-outline-bg-hover: var(--sl-color-gray-5);
}
