@mixin border-rounded-left($radius) {
  border-radius: $radius 0 0 $radius;
}
@mixin border-rounded-right($radius) {
  border-radius: 0 $radius $radius 0;
}
@mixin border-rounded-top($radius) {
  border-radius: $radius $radius 0 0;
}
@mixin border-rounded-bottom($radius) {
  border-radius: 0 0 $radius $radius;
}
@mixin border-rounded-variants($radius) {
  &--rounded-top {
    @include border-rounded-top($radius);
  }
  &--rounded-bottom {
    @include border-rounded-bottom($radius);
  }
  &--rounded-left {
    @include border-rounded-left($radius);
  }
  &--rounded-right {
    @include border-rounded-right($radius);
  }
  // should this variant be part of the mixin?
  &--rounded-full {
    border-radius: 9999px;
  }
}

@mixin debug {
  background: rgb(255 0 0 / 50%) !important;
}
