#root {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

[data-theme="dark"] .button {
  --error: #d93025;
  --button-color-disabled: #5f6368;
}

.App {
  display: grid;
  gap: 16px;
}

.button-error {
  --button-radius: 10px;
  --button-padding: 16px;
  margin-inline: auto;
}

.debug {
  border: 1px solid red;
  padding-block: 16px;
}

.button-default :last-child {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}

.button-colors > div,
.button-icon-colors > div {
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr 1fr 1fr;
}

.button-group-colors > div {
  display: grid;
  gap: inherit;
}

.button-group-column > div {
  display: flex;
  gap: inherit;
}
