#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

[data-theme="dark"] .button {
  --error: #d93025;
  --button-color-disabled: #5f6368;
}

.App {
  display: grid;
  gap: 16px;
}

.button-error {
  --button-radius: 10px;
  --button-padding: 16px;
  margin-inline: auto;
}

.debug {
  border: 1px solid red;
  padding-block: 16px;
}
