#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

[data-theme="dark"] .button {
  --error: #d93025;
  --button-color-disabled: #5f6368;
}

.App {
  display: grid;
  gap: 16px;
}

.button-error {
  --button-radius: 10px;
  --button-padding: 16px;
  margin-inline: auto;
}

.button-icons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: inherit;
}

.group-examples {
  display: flex;
  gap: inherit;
  --icon-size: 1.15em;

  .group-row {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .group-column {
    display: flex;
    gap: inherit;
  }
  .group-row:last-child {
    justify-content: center;
  }
}

.debug {
  border: 1px solid red;
  padding-block: 16px;
}
