.with-toggle :nth-child(2) {
  grid-column: 1 / -1;
}

.button-colors > div,
.button-icon-colors > div {
  display: grid;
  gap: inherit;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.button-group-colors > div {
  display: grid;
  gap: inherit;
}

.button-group-column > div {
  display: flex;
  gap: inherit;
}
