/* TODO: move dark-mode styles from website to this file */
.button-group-colors > div,
.button-group-disabled div:not([class]) {
  display: grid;
  gap: inherit;
}
.button-icon-colors > div,
.button-group-column > div {
  display: flex;
  gap: inherit;
}
