.demo {
  border: 1px solid var(--sl-color-gray-5);
  padding: 24px;
}
@media (max-width: 767px) {
  .demo {
    padding: 16px;
  }
}
[data-theme="dark"] .demo {
  background-color: var(--sl-color-gray-6);
}
.demo.demo  * {
  margin: 0;
}

.demo-docs--with-disabled .toggle-disabled {
  margin-inline: auto;
}
