:root {
  --light-bg: transparent;
  --light-text: #3d50f5;
}
[data-theme="dark"] {
  --light-bg: #678fff;
  --light-text: #222;
}

.light-paragraph {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--light-bg);
  color: var(--light-text);
}
