.header .right-group .theme-button,
.sidebar .sidebar-pane .theme-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: auto;
  padding: 8px;

  --button-bg-active: #e6e6e6;
}

.demo-docs .theme-button {
  display: flex;
  align-items: center;
  gap: 8px;
}
