#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --icon-size: 72px;
}

.icon-container {
  --icon-color: blue;
}

.my-container-with-custom-color {
  --error: salmon;
  --icon-color-disabled: gray;
  margin-bottom: 30px;
}

.inherit-size {
  font-size: 10rem;
}
