name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  changed-files:
    runs-on: ubuntu-22.04
    outputs:
      files: ${{ steps.filter.outputs.only_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: tj-actions/changed-files@v44
        id: filter
        # based on https://github.com/vitejs/vite/blob/main/.github/workflows/ci.yml#L59
        with:
          files: |
            _templates/**
            website/**
            .github/**
            !.github/workflows/ci.yml
            **.md

  lint:
    needs: changed-files
    runs-on: ubuntu-22.04
    if: needs.changed-files.outputs.files != 'true'
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint

  type-check:
    needs: changed-files
    runs-on: ubuntu-22.04
    if: needs.changed-files.outputs.files != 'true'
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm nx build @hrc/material-icons
      - run: pnpm run type-check
